{% extends "base.html" %}{% block content %} {% load static %}

<div class='title'>
  <a href="/">
      <img class="white-logo" src="/static/img/techis-logo.png" alt="White twitter logo">
      </a>
  <h1>Edit</h1>
    </div>


<section class="content">
    <div class="'container" style="display: flex;">
        <div class="my_icon">
            <img src="/static/img/sample-icon.png">
        </div>   
            <div class="post_form">
                <form action="/edit/{{post.id}}/" method="POST" enctype="multipart/form-data">
                    {% csrf_token  %}
                    <input type="text" name="name" placeholder="Your name" value="{{post.name}}" required />
                    <textarea name="body" placeholder="What's happening?" maxlength="140"  required >{{post.body}}</textarea>
                    {% if post.image.url %}
                        <img src="{{post.image.url}}" style="width: 370px; height: 370px;">
                    {% endif %}
                    <div class="flex">
                        <input class="upload-file" type="file" value="Choose File" name="image">
                        <button href="/" class="cancel" type="submit">Cancel</button>
                        <button class="update" type="submit">update</button>
                    </div>
                </form>
            </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}">
    </script>
    <footer>
  
    </footer>
  </section>
  
  {% endblock %}
    
   
