{% extends "base.html" %}{% block content %} {% load static %}

<div class='title'>
  <a href="/">
      <img class="white-logo" src="/static/img/techis-logo.png" alt="White twitter logo">
      </a>
  <h1>Home</h1>
    </div>


<section class="content">
    <div class="'container" style="display: flex;">
        <div class="my_icon">
            <img src="/static/img/sample-icon.png">
        </div>   
            <div class="post_form">
                <form action="/" method="POST" enctype="multipart/form-data">
                    {% csrf_token  %}
                    <input type="text" name="name" placeholder="Your name">
                    <textarea name="body" placeholder="What's happening?" maxlength="140" required=""></textarea>
                    <div class="flex">
                        <input class="upload-file" type="file" value="Choose File" name="image">
                        <input type="submit" id="tweet-button" value="Tweet"/>  
                    </div>
                </form>
            </div>
        
    </div>

    <div class="divider"></div>
  <section class="posts">
    <ul>
          
      {% for post in posts %}
      <li>
        
        <img class ="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}"/>
        <div class ="menu">
          <a href="/edit/{{ post.id }}/">Edit</a> 
          <br>
          <a href="/delete/{{post.id}}/">Delete</a>
        </div>
          <div class="logo">
      <img src="{% static 'img/user.png' %}"/>
      </div>
    
      <div class="name_body">
      <div class="name"> {{ post.name }} <br></div> 
        <div class='datetime'> {{ post.created_at }} </div> 
      </br>
         <p> {{ post.body }}<br></p> 
      </br>
      {% if post.image %}
       <img class="post-border" src="{{ post.image.url }}" style ="width: 370px; height: 370px;">
      {% endif %}
      

      </li>
       {% endfor %}
    </ul>
       
  </section> 
  
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="{% static 'js/posts.js' %}">
  </script>
  <footer>

  </footer>
</section>

{% endblock %}
    
   
